<%= form_with(model: localidade, local: true) do |form| %>
  <% if localidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(localidade.errors.count, "error") %> prohibited this localidade from being saved:</h2>

      <ul>
        <% localidade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cidade_id %>
    <%= form.text_field :cidade_id %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
