<p id="notice"><%= notice %></p>

<h1>Monitoramentos</h1>

<table>
  <thead>
    <tr>
      <th>Temperatura</th>
      <th>Ph</th>
      <th>Turbidez</th>
      <th>Condutividade</th>
      <th>Localidade</th>
      <th>Data</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitoramentos.each do |monitoramento| %>
      <tr>
        <td><%= monitoramento.temperatura %></td>
        <td><%= monitoramento.ph %></td>
        <td><%= monitoramento.turbidez %></td>
        <td><%= monitoramento.condutividade %></td>
        <td><%= monitoramento.localidade.nome %></td>
        <td><%= monitoramento.created_at %></td>
        <td><%= link_to 'Mostrar', monitoramento %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


